@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

html, body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  color:#000 !important;
  background-color: #E6BEAE !important;
}

text{
  font-family: "Nunito", sans-serif;
}

.main-cont {
  padding: 0 !important;
  margin: 0 !important;
  background: #000000 !important;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-row {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: center;
}

.welcome-row-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.glimpse {
  display: flex;
  flex-direction: row;
}

.glimpse-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 90px;
}

.glimpse-content img {
  height: 150px;
  width: 150px;
}

.glimpse-content h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #000;
  width: 286px;
  height: 77px;
}

.glimpse-content p {
  width: 400px;
  height: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  height: 344px;
  background: #e0ae9b;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.card h1 {
  font-family: 'Silkscreen';
  font-weight: 400;
  font-size: 48px;
  color: #000;
}

.card p {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #000;
  margin-top: 0;
}

.form-ticket{
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 20px;
  margin-left: 15%;
  margin-top: 60px;
}


input{
  outline: none;
}

h1{
  font-weight: 400;
  font-size: 32px;
  color: #000;
  font-family: 'Silkscreen';
}

@media (max-width: 1024px) {
  .welcome-row-content{
    display: flex;
    flex-direction: column !important;
  }

  .glimpse, .css-8x6uso{
    display: flex;
    flex-direction: column !important;
  }

  .ownership{
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .heading-ether{
    font-size: 80px;
  }
  .navigation-comp{
    display: flex;
    flex-direction: column;
  }
  p{
    height: auto !important;
    width: auto !important;
  }
  .css-1lu5iqd, .css-w0xf43{
    display: block !important;
    width: 70%;
      .css-vbm0bs{
    display: block;
  }
  }
}

@media (max-width: 320px) {
  .heading-ether{
    font-size: 28px !important;
  }
  .css-1b3ygym{
    height: 40vh;
  }
  .glimpse{
    display: none;
  }
  .css-1lu5iqd, .css-w0xf43{
    display: block !important;
    width: 70%;
    
  }
}

@media(max-width: 420px){
  .form-ticket{
    margin-left: 4%;
  }
  .css-vbm0bs{
    display: block;
  }
}

input, textarea{
  background: none;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  height: 60px;
  outline: none;
}

input::placeholder, textarea::placeholder{
  color: #000;
  padding: 2px;
}


.css-vbm0bs{
  background-color: #E0AE9B;
}


@media (min-width: 769px){
  .mobile-table{
    display: none;
  }
}
@media (max-width: 768px) {
  table {
    display: none;
  }
  
  .mobile-tickets {
    display: block !important;
  }
}

@media (min-width: 769px) {
  table {
    display: table;
  }
  
  .mobile-tickets {
    display: none !important;
  }
}


